
  
body,* {
    margin: 0;
    padding: 0;
    
    
}



.navbar{
    font-family: "Jua", sans-serif;
    
    font-weight: 200;
    font-style: normal;
  }

.btn{
    padding: 10px 24px;
    font-size: 1.1rem;
    border-radius: 30px;
}

header{
    background-color: rgb(245, 239, 228);
}


form{
    color: rgb(221, 119, 51);
}

h1{
    font-size: 50px;
    font-family: "Jua", sans-serif;

}

p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}



h3{
    font-size: 30px;
    font-family:  "Jua", sans-serif;
    color:rgb(0, 0, 0);

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.section-title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.section-container{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.card{
    border-radius: 15px;
    overflow: hidden;
}

.card-body{
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);

}

.bg-dark .card-body{
    background-color: antiquewhite;
    color: white;
}

.card:hover{
    transform: scale(1.02);
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.bg-costum{
    background-color: aquamarine;
}

.btn-costum{
    background-color: aquamarine;
}